<!DOCTYPE html>
<html>
<head>
    <title>前台用户表</title>
		<#include "/header.html">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/iview/iview.css">
    <script type="text/javascript" src="${request.contextPath}/statics/js/common/head.js?v121=221"></script>

    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div v-show="showList">
        <div style="margin-top: 10px;margin-bottom: 10px;">
            <div style="display: inline-block;margin-left: 20px;">
                手机号码 ： <i-input v-model="queryParams.mobile" placeholder="请输入标题" style="width: 200px" />
            </div>
            <div  style="display: inline-block;margin-left: 20px;">
                性别：
                <i-select v-model="queryParams.sex" style="width:200px">
                    <i-option value="0">女</i-option>
                    <i-option value="1">男</i-option>
                    <!--<i-option v-for="item in statusList" :value="item.value" :key="item.value">{{ item.label }}</i-option>-->
                </i-select>
            </div>
        </div>

        <div style="margin-top: 10px;margin-bottom: 10px;">
            <div style="display: inline-block;margin-left: 20px;">
                <i-button type="info" icon="ios-search" @click="query">查询</i-button>
            </div>
            <div style="display: inline-block;margin-left: 20px;">
                <i-button type="info" icon="ios-refresh" @click="reset">重置</i-button>
            </div>
            <div style="display: inline-block;margin-left: 20px;">
                <i-button type="info" icon="md-add" @click="add">新增</i-button>
            </div>
            <div style="display: inline-block;margin-left: 20px;">
                <i-button type="info" icon="md-close" @click="showDeleteModal">删除</i-button>
            </div>
        </div>

        <div style="margin:5px 10px 5px 10px;">
            <i-Table :loading="loading" :columns="tableColumns" :data="tableData" @on-selection-change="getSelection"></i-Table>
        </div>
        <div style="margin:5px 10px 5px 10px; text-align: center">
            <Page :total="totalSize" show-total show-elevator @on-change="changePage"/>

        </div>
        <Modal v-model="deleteModal" width="360">
            <p slot="header" style="color:#f60;text-align:center;font-size: 12px;">
                <Icon type="ios-information-circle"></Icon>
                <span>删 除 确 认</span>
            </p>
            <div style="text-align:center">
                <p style="color: #17233d;font-family: 'PingFang SC';font-size: 18px;">确定要删除选中的记录？</p>
            </div>
            <div slot="footer">
                <i-button size="large" @click="cancelDelete">取消</i-button>
                <i-button type="error" size="large" @click="del">删除</i-button>
            </div>
        </Modal>

    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">用于删除 0：未删除 1：删除</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.dr" placeholder="用于删除 0：未删除 1：删除"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">平台ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.schoolId" placeholder="平台ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">手机号码(登录账号)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.mobile" placeholder="手机号码(登录账号)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户昵称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.nickName" placeholder="用户昵称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">头像地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.pic" placeholder="头像地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态  0：禁用   1：正常</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.status" placeholder="状态  0：禁用   1：正常"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">性别0女，1男，2保密</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.sex" placeholder="性别0女，1男，2保密"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">邮箱</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.email" placeholder="邮箱"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">登录密码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.password" placeholder="登录密码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建用户</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.creator" placeholder="创建用户"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.creationTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改用户</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.modifier" placeholder="修改用户"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.modifiedTime" placeholder="修改时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">最近登录时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.lastLoginTime" placeholder="最近登录时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">最近登录IP</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.lastLoginIp" placeholder="最近登录IP"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">来源 0.正常注册;1.后台注册;2.NC导入</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.channel" placeholder="来源 0.正常注册;1.后台注册;2.NC导入"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.remake" placeholder="备注"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">NC_ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.ncId" placeholder="NC_ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">部门PK</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.deptId" placeholder="部门PK"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.realName" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">从NC中取得的商机pk
</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="users.ncUserId" placeholder="从NC中取得的商机pk
"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="query" value="返回"/>
            </div>
        </form>
    </div>

</div>

<!--<script src="${request.contextPath}/statics/js/modules/sys/users.js?_${.now?long}"></script>-->
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/sys/users.js?_${.now?long}"></script>
</body>
</html>